body {
  font-family: 'Arial', sans-serif; 
  background-color: #F6F6F6; 
  color: #000000; 
}
.App {
  text-align: left;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 2rem; 
  background-color: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
}
h2 {
  color: #2980b9;
  font-size: 26px;
}
p {
    font-size: 16px;
    margin-bottom: 1rem;
}
/* .App-logo {
  height: 50vmin;
  margin-bottom: 1rem; 
}


.App-header {
  text-align: center;
  background-color: #198dda;
  padding: 2rem 0; 
  margin-bottom: 2rem; 
  border-radius: 8px; 
  color:#ffffff
} */

.App-header {
  padding: 2rem 0;
  margin-bottom: 2rem;
  border-radius: 8px;
  color: #000000;
  text-align: center; /* 确保所有内容居中 */
}

.App-logo {
  height: 300px;
  width: auto; /* 确保图片保持比例 */
  display: block;
  margin: 0 auto; /* 确保头像居中 */
  border-radius: 50%; /* 可选：让头像圆形 */
  max-width: 100%; /* 确保图片不会超过容器宽度 */
}

.info-text {
  text-align: center;
  line-height: 1.4; 
  margin: 5px 0; 
}

h1 {
  font-size: 1.6rem; 
}



.App-link {
  color: #0891b8;
  transition: color 0.3s ease; 
}

.App-link:hover {
  color: #054455; 
}
